#appContainer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

main div#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 10px 20px;
}

main div a{
    cursor: pointer;
}

main div#todos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px 0 20px 0;
}

main div#todos div.todo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90px 90px;
    grid-row-gap: 10px;
    border: 1px solid black;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: #F6FFF8;
}

main h2{
    margin: 3px 15px 0 5px;
    hyphens: auto;
    text-align: justify;
}

main h3{
    hyphens: auto;
    text-align: justify;
}

main #creationPopUp {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

main #creationPopUp.enabled {
    visibility: visible;
}

main #popUpContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    background-color: #E7EAEA;
    width: 50%;
    border-radius: 5px;
    padding: 0 15px 0 15px;
}

main #popUpHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main #closePopUpBtn{
    cursor: pointer;
    background-color: red;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
}

main #date{
    cursor: pointer;
}

main #submit{
    cursor: pointer;
}

main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    width: 85%;
    gap: 10px;
}

main form input#submit{
    width: 30%;
    background-color: #A4C3B2;
    border: 1px solid black;
    border-radius: 3px;
}

main .headerDivToDo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

main .titleDivToDo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 10px 0 5px;
}

main .todoDescription{
    margin: 0 10px 0 5px;
}

main .btnDivToDo{
    display: flex;
    flex-direction: column;
}

main .btnDivToDo button{
    padding: 0;
    width: 20px;
    height: 20px;
}

main .delBtnToDo{
    margin: 5px 5px 0 0;
    background-color: red;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
}

#deleteIcon{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    padding: 0;
    cursor: pointer;
}

main .editBtnToDo{
    margin: 5px 2px 0 0;
    background-color: blue;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
}

#editIcon{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 770px) {
    main #popUpContent{
        width: 90%;
    }
}