.fetch__trying {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.75);
}

.fetch__error {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fetch__error__title {
    text-align: center;
    color: red;
    font-size: 25px;
}

.fetch__error__reason {
    text-align: center;
    color: rgba(255, 0, 0, 0.72);
}

#appContainer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

main div#heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 10px 20px;
}

main div a{
    cursor: pointer;
}

main div#todos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px 0 20px 0;
}

main h2{
    margin: 3px 15px 0 5px;
    hyphens: auto;
    text-align: justify;
}

main h3{
    hyphens: auto;
    text-align: justify;
}

main #creationPopUp {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

main #creationPopUp.enabled {
    visibility: visible;
}

main #popUpContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    background-color: #E7EAEA;
    width: 50%;
    border-radius: 5px;
    padding: 0 15px 0 15px;
}

main #popUpHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main #closePopUpBtn{
    cursor: pointer;
    background-color: red;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
}

main #fieldset{
    border-radius: 3px;
}

main #ja{
    margin-right: 25px;
    accent-color: #6B9080;
}

main #nein{
    accent-color: #6B9080;
}

main #date{
    cursor: pointer;
}

main #submit{
    cursor: pointer;
}

main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    width: 85%;
    gap: 10px;
}

main form input#submit{
    width: 30%;
    background-color: #A4C3B2;
    border: 1px solid black;
    border-radius: 3px;
}

main .checked{
    opacity: 0.25;
}

main div#todos div.todo{
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 320px;
    padding: 0;
    margin: 0;
    background-color: #F6FFF8;
}

main .checkboxDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

main .checkbox{
    accent-color: #6B9080;
    cursor: pointer;
}

main .headerDivToDo{
    grid-column: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

main .titleDivToDo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 10px 0 5px;
}

main .todoDescription{
    grid-column: 2;
    grid-row: 3;
    margin: 0 10px 0 5px;
}

main .todoTitle{
    color: black;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}

main .todoDeadline{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 0 5px;
}

main .todoDate{
    font-weight: bold;
    color: #6B9080;
}

main .todoDate.past{
    color: red;
    font-weight: bold;
}

main .todoDate.now{
    color: darkorange;
    font-weight: bold;
}

main .todoDate.done{
    font-weight: bold;
}

main .btnDivToDo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .btnDivToDo button{
    padding: 0;
    width: 20px;
    height: 20px;
}

main .delBtnToDo{
    margin: 5px 5px 0 0;
    background-color: red;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
}

main .deleteIcon{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    padding: 0;
    cursor: pointer;
}

main .editBtnToDo{
    margin: 5px 2px 0 0;
    background-color: #6B9080;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
}

main .editIcon{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    padding: 0;
    cursor: pointer;
}

.action__info {
    text-align: center;
    background-color: #6B9080;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    color: white;
}

.action__info--hidden {
    display: none;
}

/* todo loader */
.todo__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    transition: opacity 0.75s, visibility 0.75s;
}

.todo__loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.square {
    width: 10px;
    height: 10px;
    border: 12px solid #6B9080;
    animation: bounce 2s linear infinite;
    margin: 10px;
    border-radius: 20px;
}

.square:nth-child(2) {
    animation-delay: 0.2s;
}

.square:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0%) scaleX(1.05);
        animation-timing-function:cubic-bezier(.05,.6,.45,.95);
    }

    50% {
        transform: translateY(-100%) scaleX(0.95);
        animation-timing-function:cubic-bezier(.5,0,.9,.2);
    }
}

@media (max-width: 770px) {
    main #popUpContent{
        width: 90%;
    }

    #heading h1 {
        width: 100%;
    }

    #heading {
        text-align: center;
    }

    .todo__buttons {
        margin: 15px auto;
    }

    .styled__button {
        margin: 0 !important;
    }
}