body{
    background-color: #E7EAEA;
    margin: 0;
}

main{
    flex: 1;
}

h1{
    color: black;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 span{
    color: #A4C3B2;
}

h2{
    color: black;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 span{
    color: #A4C3B2;
}

p{
    hyphens: auto;
    text-align: justify;
}

header #logo{
    height: 40px;
    width: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#linkBar a{
    color: white;
    text-decoration: none;
    width: 100px;
    text-align: center;
}

header div#icon{
    display: flex;
    justify-content: center;
    background-color: #6B9080;
    height: 50px;
    width: 100%;
}

header div#linkBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #A4C3B2;
    height: 30px;
    width: 100%;
}


.styled__button {
    position: relative;
    border: 2px solid #A4C3B2;
    color: #A4C3B2;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: all .5s;
    text-align: center;
    width: fit-content;
}

.styled__button::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    transform-origin: left;
    width: 0;
    height: 100%;
    background-color: #A4C3B2;
    z-index: -1;
    transition: all .5s;
}

.styled__button:is(:hover, :focus)::after {
    width: 100%;
}

.styled__button:is(:hover, :focus) {
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B9080;
    height: 50px;
    color: white;
    margin: 0;
    min-height: 50px;
}

.invisible{
    visibility: hidden;
}
