main div#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}

/*button*/
main div#heading a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: black;
    height: 30px;
    width: 200px;
    background-color: #A4C3B2;
    text-decoration: none;
    margin-right: 10px;
}

main p{
    padding: 0 20px 0 20px;
}

main div#container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-rows: 150px 200px;
    grid-row-gap: 20px;
    grid-column-gap: 0;
}

main div#container img{
    width: 90%;
    margin: 15px 20px 15px 20px;
    border-radius: 25px;
}

footer a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

@media (max-width: 950px) {
    main div#container{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}